<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
    <br />
</div>

<p>
  Splurty was built by <a target="_blank" href="https://kevinnorthrup.netlify.com/">Kevin Northrup</a>. He is currently learning web development to turn his lifelong passion for computers into his dream job!
</p>

<br />
<p>
  This web app is just the beginning of what will become his new career as a full stack developer.
</p>

<br />
<br />

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'kevin.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Kevin Northrup</h2>
    <br />
    <p>In his previous life, Kevin Northrup helped found and run a contracting business with his Father for 16 years. Having always had a deep interest in building, upgrading, and troubleshooting computers, he was able to bring a technical knowledge of computers and spreadsheets to organize the administrative aspects of running such a business. In an industry where technology is not always well-understood by its users, he kept the business using cutting edge tech and kept everyone trained and online to maximize its efficacy.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />